@model SMS.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddStudent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
</head>
<body>
    <div class="container mt-4">


        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <h2>Register Student</h2>

        @using (Html.BeginForm("StudRegister", "Registration", FormMethod.Post))
        {
            <div>
                <label>Your assigned Student ID: @ViewBag.MaxStudId</label>
            </div>

            <table class="table">
                <tr>
                    <td>
                        @Html.LabelFor(m => m.ClassId, "Select Class")
                    </td>
                    <td>
                        @Html.DropDownList("ClassId", (SelectList)ViewBag.ClassList, "Select Class",
                            new { @class = "form-control", onchange = "this.form.submit();" })
                        <!-- Hidden field to indicate class selection -->
                        @Html.Hidden("IsClassSelection", "true")
                        @Html.ValidationMessageFor(model => model.ClassId)
                    </td>
                </tr>
            </table>

            <input type="hidden" name="actionType" value="SelectClass" />
            @Html.HiddenFor(m => m.StudentName)
            @Html.HiddenFor(m => m.DOB)
            @Html.HiddenFor(m => m.FatherName)
            @Html.HiddenFor(m => m.ContactNo)
            @Html.HiddenFor(m => m.StudentAddress)
            @Html.HiddenFor(m => m.StudentUsername)
            @Html.HiddenFor(m => m.StudentPassword)
            @Html.HiddenFor(m => m.StudentFee)

        }

        <!-- Final Registration Form -->
        @using (Html.BeginForm("StudRegister", "Registration", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.ClassId)

            <table class="table">
                <tr>
                    <td>
                        @Html.LabelFor(m => m.SectionId, "Select Section")
                    </td>
                    <td>
                        @Html.DropDownList("SectionId",
                            (SelectList)(ViewBag.SectionList != null ? ViewBag.SectionList : new SelectList(Enumerable.Empty<SelectListItem>())),
                            "Select Section",
                            new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SectionId)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.StudentName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control", type = "text", @pattern = "[A-Za-z  ]*" })
                        @Html.ValidationMessageFor(model => model.StudentName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.DOB)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control datepicker", @id = "txtDate", @value = "" })
                        @Html.ValidationMessageFor(model => model.DOB)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.FatherName)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", type = "text", @pattern = "[A-Za-z  ]*" })
                        @Html.ValidationMessageFor(model => model.FatherName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.ContactNo)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(model => model.ContactNo)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.StudentAddress)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.StudentAddress, new { @class = "form-control", type = "text", @pattern = "[A-Za-z  ]*" })
                        @Html.ValidationMessageFor(model => model.StudentAddress)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.StudentUsername)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.StudentUsername, new { @class = "form-control", type = "text", @pattern = "[A-Za-z  ]*" })
                        @Html.ValidationMessageFor(model => model.StudentUsername)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.StudentPassword)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.StudentPassword, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(model => model.StudentPassword)
                    </td>
                </tr>

              <tr>
                    <td>
                        @Html.LabelFor(m => m.StudentFee, "Class Fee")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.StudentFee, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.StudentFee)
                    </td>
                </tr>


            </table>

            <!-- Final submission button -->
            <input type="hidden" name="actionType" value="Register" />
            <button type="submit" class="btn btn-primary">Register</button>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
            });
        });
    </script>

</body>
</html>
