@model IEnumerable<SMS.Models.Student>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmpList</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
    <style>
     
        #tblAll thead {
            background-color: #800080 !important;
            color: #ffffff !important; 
            font-size: 14px !important;
        }

    
            #tblAll thead th {
                border-bottom: 2px solid #E6E6FA !important; 
                padding: 10px !important; 
            }


        #tblAll tbody tr:nth-child(even) {
            background-color: #f2f2f2 !important;
        }

        #tblAll tbody tr:hover {
            background-color: #e6e6fa !important;
        }
    </style>
</head>

<body>
    <div>
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>}

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>}

        <h2>Student List</h2>
        <div>@Html.ActionLink("New", "AddStud", "StudCRUD")</div>

        @using (Html.BeginForm("StudList", "StudCRUD", FormMethod.Get))
        {


    <table id="tblAll" class="display table table-striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>DOB</th>
                <th> Class Id </th>
                <th>Section Id</th>
                <th>Father Name</th>
                <th>Contact No</th>
                <th>Address</th>
                <th>Student Fee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stud in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(modelItem => stud.StudentId)</td>
                    <td>@Html.DisplayFor(modelItem => stud.StudentName)</td>

                    <td>@(stud.DOB.HasValue ? stud.DOB.Value.ToString("dd-MM-yyyy") : "")</td>
                    <td>@Html.DisplayFor(modelItem => stud.ClassId)</td>
                    <td>@Html.DisplayFor(modelItem => stud.SectionId)</td>
                    <td>@Html.DisplayFor(modelItem => stud.FatherName)</td>
                    <td>@Html.DisplayFor(modelItem => stud.ContactNo)</td>
                    <td>@Html.DisplayFor(modelItem => stud.StudentAddress)</td>
                    <td>@Html.DisplayFor(modelItem => stud.StudentFee)</td>

                    <td>
                        <a href="@Url.Action("AddStud", "StudCRUD", new { id = stud.StudentId })"> Edit </a>
                        <a href="@Url.Action("DeleteStud", "StudCRUD", new { id = stud.StudentId })"> Delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        }

        @if (Session["UserType"] != null)
        {
            if (Session["UserType"].ToString() == "Admin")
            {
                @Html.ActionLink("Go back to Main Page", "MainPage", "Login", null, new { @class = "btn btn-danger" })
            }
            else if (Session["UserType"].ToString() == "Student")
            {
                @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "btn btn-danger" })
            }
        }
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>



</body>
</html>
