<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Include Bootstrap CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Include jQuery UI CSS -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />

    <!-- Include jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
    <div class="container body-content">
        @RenderBody()  <!-- Main content goes here -->
        <hr />
        <footer>
        </footer>
    </div>

    <!-- Include jQuery and Bootstrap JS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap.bundle")
    @RenderSection("scripts", required: false)
</body>
</html>