@model SMS.Models.FeeCollection

@{
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Fees</title>
</head>
<body>
    <div>

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <h2> Add Student </h2>

        @using (Html.BeginForm("AddFeeCol", "FeeCollection", FormMethod.Post))
        {
            <table>

                @Html.HiddenFor(m => m.FeeColId)

                <tr>
                    <td>
                        @Html.LabelFor(m => m.StudentId)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.StudentId, new SelectList(ViewBag.StudentList, "StudentId", "StudentName"),
                       "-- Select --", new { @class = "form-control", @id = "drpStudent" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.ClassId)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.ClassId, new SelectList(ViewBag.ClassList, "ClassId", "ClassName"),
                       "-- Select --", new { @class = "form-control", @id = "drpClass" })
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(m => m.Installment1)
                    </td>
                    <td>
                        @Html.CheckBox("Installment1", true, new { @disabled = "disabled" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.Installment2)
                    </td>
                    <td>
                        @Html.CheckBox("Installment2",  true, new { @disabled = "disabled"})
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => m.Installment3)
                    </td>
                    <td>
                        @Html.CheckBox("Installment3", true, new { @disabled = "disabled" })
                    </td>
                </tr>



                @Html.HiddenFor(m => m.FeeStatus)


                @Html.HiddenFor(m => m.ClassName)

                @Html.HiddenFor(m => m.StudentName)

               
            </table>

            <button type="submit" class="btn btn-primary">Save</button>



        }

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $("#divPageload").show();
            $('#drpStudent').attr('disabled', true);

            $("#divPageload").hide();
        });


        $('#drpClass').change(function () {
            $('#drpStudent').attr('disabled', false);
        });

        $('#drpCategory').change(function () {
            $('#drpSubCategory').attr('disabled', false);
        });

    </script>


</body >
</html >
