@model IEnumerable<SMS.Models.FeeStructure>

@{
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fee List</title>
</head>
<body>
    <div>
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>}

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>}

        <h2>Fee List</h2>
        <div>@Html.ActionLink("New", "AddFee", "Fee")</div>

        @using (Html.BeginForm("FeeList", "Fee", FormMethod.Get))
        {

            <table>
                <tr>
                    <td>
                        @Html.Label("Select Class Name")
                    </td>
                    <td>
                        @Html.DropDownList("searchedname", (SelectList)ViewBag.ClassList, "Select a Class", new { @class = "form-control" })
                    </td>
                </tr>


            </table>

            <button type="submit" class="btn btn-primary">Search</button>}

        <table class="table">
            <thead>
                <tr>
                    <th>Fee ID</th>
                    <th>Class Id</th>
                    <th>Total Fee </th>
                    <th> Installment1</th>
                    <th> Installment2</th>
                    <th> Installment3</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(model => f.FeeId)</td>
                    <td>@Html.DisplayFor(model => f.ClassId)</td>
                    <td>@Html.DisplayFor(model => f.TotalFee) </td>
                    <td>@Html.DisplayFor(model => f.Installment1)</td>
                    <td>@Html.DisplayFor(model => f.Installment2) </td>
                    <td>@Html.DisplayFor(model => f.Installment3) </td>


                    <td>
                        <a href="@Url.Action("AddFee", "Fee", new { id = f.FeeId })">Edit</a>
                        <a href="@Url.Action("DeleteFee", "Fee", new { id = f.FeeId })">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>


        @Html.ActionLink("Go Back to Main Page", "MainPage", "Login", null, new { @class = "btn btn-success" })


    </div>
</body>
</html>