@model IEnumerable<SMS.Models.Class>

@{
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Class List</title>
</head>
<body>
    <div>
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>}

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>}

        <h2>Class List</h2>
        <div>@Html.ActionLink("New", "AddClass", "Class")</div>

        @using (Html.BeginForm("ClassList", "Class", FormMethod.Get))
        {

            <table>
                <tr>
                    <td>
                        @Html.Label("Select Class Name")
                    </td>
                    <td>
                        @Html.DropDownList("searchedname", (SelectList)ViewBag.ClassList, "Select a Class", new { @class = "form-control" })
                    </td>
                </tr>


            </table>

            <button type="submit" class="btn btn-primary">Search</button>}

        <table class="table">
            <thead>
                <tr>
                    <th>Class ID</th>
                    <th>Class Name</th>
                    <th>Class Size </th>
                    <th> Class Fee</th>
                    <th> Installment No</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cl in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => cl.ClassId)</td>
                        <td>@Html.DisplayFor(model => cl.ClassName)</td>
                        <td>@Html.DisplayFor(model => cl.ClassSize) </td>
                         <td>@Html.DisplayFor(model => cl.ClassFee)</td>
                        <td>@Html.DisplayFor(model => cl.InstallmentNo) </td>


                        <td>
                            <a href="@Url.Action("AddClass", "Class", new { id = cl.ClassId })">Edit</a>
                            <a href="@Url.Action("DeleteClass", "Class", new { id = cl.ClassId })">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        
        @Html.ActionLink("Go Back to Main Page", "MainPage", "Login", null, new { @class = "btn btn-success" })


    </div>
</body>
</html>